<!-- begin content -->
<main class="content">
    <!-- begin slider -->
    <section class="slider">
        <div class="container slider__container">
            <div class="slider__list">
                <div class="slider__item">
                    <div class="slider__item-content">
                        <img src="img/slider/slider-1.png" alt="slider image" class="slider__img">
                        <div class="slider__text">
                            <p>È universalmente riconosciuto che un lettore che osserva il layout di una pagina viene distratto dal contenuto testuale se questo è leggibile. Lo scopo dell’utilizzo del Lorem Ipsum è che offre una normale distribuzione delle lettere (al contrario di quanto avviene se si utilizzano brevi frasi ripetute, ad esempio “testo qui”), apparendo come un normale blocco di testo leggibile. Molti software di impaginazione e di web design utilizzano Lorem Ipsum come testo modello. Molte versioni del testo sono state prodotte negli anni, a volte casualmente, a volte di proposito (ad esempio inserendo passaggi ironici).</p>
                        </div>
                    </div>
                </div>
                <div class="slider__item">
                    <div class="slider__item-content">
                        <img src="img/slider/slider-2.jpg" alt="slider image" class="slider__img">
                        <div class="slider__text">
                            <p>sistono innumerevoli variazioni dei passaggi del Lorem Ipsum, ma la maggior parte hanno subito delle variazioni del tempo, a causa dell’inserimento di passaggi ironici, o di sequenze casuali di caratteri palesemente poco verosimili. Se si decide di utilizzare un passaggio del Lorem Ipsum, è bene essere certi che non contenga nulla di imbarazzante.</p>
                        </div>
                    </div>
                </div>
                <div class="slider__item">
                    <div class="slider__item-content">
                        <img src="img/slider/slider-3.jpg" alt="slider image" class="slider__img">
                        <div class="slider__text">
                            <p>In genere, i generatori di testo segnaposto disponibili su internet tendono a ripetere paragrafi predefiniti, rendendo questo il primo vero generatore automatico su intenet. Infatti utilizza un dizionario di oltre 200 vocaboli latini, combinati con un insieme di modelli di strutture di periodi, per generare passaggi di testo verosimili. Il testo così generato è sempre privo di ripetizioni, parole imbarazzanti o fuori luogo ecc.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end slider -->

    <!-- begin product-properties -->
    <section class="product-properties">
        <div class="container product-properties__container">
            <div class="product-properties__content">
                <div class="product-properties__item">
                    <h3 class="product-properties__title">PRIMA-SECONDA SETTIMANA:</h2>
                    <p>L’erezione diventa più lunga e più stabile, la sensibilità del pene aumenta del doppio. I primi cambiamenti sono visibili - la lunghezza del pene aumenta di 1,5 CM.</p>
                </div>
                <div class="product-properties__item">
                    <h3 class="product-properties__title">SECONDA-TERZA SETTIMANA:</h2>
                    <p>Il tuo pene è chiaramente più GRANDE, la forma diventa anatomicamente accurata. La durata del rapporto sessuale si allunga del 70%!</p>
                </div>
                <div class="product-properties__item">
                    <h3 class="product-properties__title">QUARTA SETTIMANA ED OLTRE:</h2>
                    <p>Il pene è di 4 cm più lungo! La qualità del sesso è aumentata esponenzialmente. Gli orgasmi arrivano più rapidamente e durano fino a 5-7 minuti!</p>
                </div>
            </div>
        </div>
    </section>
    <!-- end product-properties -->

    <!-- begin order -->
    <section class="order" id="order">
        <div class="container order__container">
            <h2 class="order__title">Fare un ordine</h2>
            <div class="order__content">
                <div class="order__info">
                    <img src="img/order/potencialex.png" alt="potencialex" class="order__info-img">
                    <div class="order__price">
                        &euro;39
                    </div>
                </div>
                <form class="order__form">
                    <div class="order__form-container">
                        <label class="order__label">
                            <span class="order__label-description">NOME:</span>
                            <span class="order__label-hint">Antonio Margaretti</span>
                            <input type="text" name="name" required="required" placeholder="NOME COMPLETO">
                        </label>
                        <label class="order__label">
                            <span class="order__label-description">NUMERO:</span>
                            <span class="order__label-hint">+39 XXX XXX XX XX</span>
                            <input type="tel" name="phone" required="required" placeholder="NUMERO DI TELEFONO">
                        </label>
                        <button type="submit" class="button order__button">ORDINA</button>
                    </div>
                </form>
            </div>
            <div class="order__timer">
                <h3 class="order__timer-title">{{ "L'offerta E Limitata!" | upper }}</h3>
                <div id="getting-started"></div>
            </div>
        </div>
    </section>
    <!-- end order -->

</main>
<!-- end content -->