<!-- begin header -->
<header class="header">
    <div class="container header__container">
        <h1 class="header__title">Potencialex è la scelta migliore!</h1>
        <video src="img/Potencialex.mp4" class="header__video" autoplay muted loop="loop"></video>
        <div class="header__buttons">
            <a href="#order" class="button to-order">Форма заказа</a>
        </div>
    </div>
</header>
<!-- end header -->
