{% set title = 'TeamLead test' %}

<!DOCTYPE html>
<html lang="it">

	<head>
		<title>{{ title }}</title>
		{% include "src/nunjucks/parts/head.njk" %}
	</head>

	<body>

		{# begin wrapper #}
		<div class="wrapper">
			{% include "src/nunjucks/parts/header.njk" %}

			{% include "src/nunjucks/parts/content.njk" %}

		</div>	
		{# end wrapper #}	

		{% include "src/nunjucks/parts/scripts.njk" %}
	</body>	

</html>